@use "../../../styles/variables" as *;

.btn {
  border: none;
  cursor: pointer;
  font-family: $font-family-base;
  font-weight: 600;
  border-radius: $radius-md;
  transition: all 0.2s ease;
  display: inline-block;
  text-align: center;

  &--full {
    width: 100%;
    display: block;
  }

  &--sm {
    padding: $space-2 $space-3;
    font-size: $font-size-sm;
  }

  &--md {
    padding: $space-3 $space-4;
    font-size: $font-size-md;
  }

  &--lg {
    padding: $space-4 $space-5;
    font-size: $font-size-lg;
  }

  &--icon {
    padding: 0;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      font-size: 20px;
      color: #fff;
    }

    &.outline svg {
      color: var(--color-primary);
    }
  }

  // Primary
  &--primary {
    background: var(--color-primary);
    color: #ffffff;

    &:hover {
      background: var(--color-primary-hover);
    }

    &:active {
      opacity: 0.9;
    }
  }

  // Primary alt
  &--primary-alt {
    background: var(--color-primary-alt);
    color: #ffffff;

    &:hover {
      background: var(--color-primary-alt-hover);
    }

    &:active {
      opacity: 0.9;
    }
  }
  // Outline
  &--outline {
    background: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);

    &:hover {
      background: var(--color-primary);
      color: var(--color-surface);
    }
  }

  // Disabled
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
  }
}
