@use "../../styles/variables" as *;

.login {
  &-title {
    font-size: $font-size-xl;
    font-family: $font-family-brand;
    font-weight: 700;
    color: var(--color-text);
    text-align: center;
    margin-bottom: $space-2;
  }

  &-subtitle {
    font-size: $font-size-md;
    color: var(--color-text-light);
    text-align: center;
    margin-bottom: $space-4;
  }

  &-buttons {
    display: flex;
    flex-direction: column;
    gap: $space-3;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }

  &-brand {
    display: block;
    margin: 0 auto;
    max-width: 240px;
    width: 100%;
    height: auto;
    margin-bottom: $space-4;
  }
}
